<!DOCTYPE html>
<html lang="en" ng-app="ColHack">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="Content/angular-material.min.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="mainCtrl" ng-cloak>
        <md-content class="md-padding navbar">
            <md-nav-bar md-selected-nav-item="currentNavItem"
                        nav-bar-aria-label="navigation links" hide-sm>
                <md-nav-item md-nav-click="goto('/home', Home)" name="home" hide-sm hide-xs>
                    <ng-md-icon icon="home" style="fill: teal" size="30"></ng-md-icon>
                </md-nav-item>
                <md-nav-item md-nav-click="goto('/flights', 'Flights')" name="flights" hide-sm hide-xs>
                    Flights
                </md-nav-item>
                <md-nav-item md-nav-click="goto('/AroundMe', 'Around Me')" name="aroundMe" hide-sm hide-xs>
                    Around Me
                </md-nav-item>
                <md-nav-item md-nav-click="toggleMenu('left')" name="hamburgerMenu" hide-gt-sm>
                    <ng-md-icon icon="dehaze" style="fill: teal" size="30"></ng-md-icon>
                </md-nav-item>
            </md-nav-bar>

        </md-content>

        <div ng-view></div>

        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-whiteframe-z2 md-is-locked-open="false" layout="column" style="padding:7px">
            <md-list>
                <md-list-item ng-click="goto('/home', 'Home')">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">Home</md-item-content>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-click="goto('/flights', 'Flights')">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">Flights</md-item-content>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-click="goto('/AroundMe', 'Around Me')">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">Around Me</md-item-content>
                </md-list-item>
            </md-list>
        </md-sidenav>

    </div>
    <script src="Plugins/jquery-3.2.0.min.js"></script>
    <!-- Angular -->
    <script src="Plugins/Angular/angular.min.js"></script>
    <script src="Plugins/Angular/angular-animate.min.js"></script>
    <script src="Plugins/Angular/angular-aria.min.js"></script>
    <script src="Plugins/Angular/angular-material-icons.min.js"></script>
    <script src="Plugins/Angular/angular-material.min.js"></script>
    <script src="Plugins/Angular/angular-messages.min.js"></script>
    <script src="Plugins/Angular/angular-route.min.js"></script>
    <script src="Scripts/app.js"></script>
    <!-- Controllers -->
    <script src="Scripts/Controllers/AroundMeCtrl.js"></script>
    <script src="Scripts/Controllers/flightCtrl.js"></script>
    <script src="Scripts/Controllers/MainCtrl.js"></script>
    <script src="Scripts/Controllers/PlacesCtrl.js"></script>
</body>
</html>