<div layout="column" flex ng-init="init()">
    <div style="height:80px"></div>
<md-content class="md-padding" layout-xs="column" layout="row">
    <div layout="row" layout-wrap flex="nogrow" style="display:flex;justify-content:center">
        <md-card class="activity" ng-repeat="loc in locations.Locations" flex-gt-sm="30" flex-xs="90" >
            <div style="background-image: url({{loc.img}});background-size: cover;background-repeat: no-repeat;height: 220px;overflow: hidden;background-position: center center;display: flex"></div>
            <div layout="row" layout-align="space-around center" style="padding-top: 7px;padding-bottom:7px;background-color:rgb(242, 242, 242);">
                <ng-md-icon icon="star" style="fill: gold" size="30"></ng-md-icon> 4.5
                <ng-md-icon icon="drive_eta" style="fill: grey" size="30"></ng-md-icon> <span layout="column"><label>24.3 mi</label>
                <label>26 min</label></span>
                <ng-md-icon icon="schedule" style="fill: grey" size="30"></ng-md-icon> 6 Hrs
            </div>
            <div layout="column">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{loc.name}}</span>
                        <span class="adress"><ng-md-icon icon="place" style="fill: grey" size="16"></ng-md-icon>{{loc.address}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{loc.desc}}
                    </p>
                </md-card-content>
            </div>      
        </md-card>
    </div>
</md-content>
</div>