<div layout="column" flex ng-init="init()">
    <div style="height:80px"></div>
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex layout="row">
        <md-card ng-repeat="loc in locations.Locations" flex="20">
            <img class="location_img md-card-image" ng-src="{{loc.img}}" />
            <div layout="column">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{loc.name}}</span>
                        <span class="adress">{{loc.address}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{loc.desc}}
                    </p>
                </md-card-content>
            </div>
            <!--<md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
            </md-card-actions>-->
        </md-card>
    </div>
</md-content>
</div>