<div layout="column" flex>
    <div style="height:80px"></div>
    <div class="mainimage_container" flexlayout="row" layout-align="center center">
        <div flex="60" layout-align="center center">
            <md-input-container md-no-float class="md-block">
                <input class="main-search" ng-model="searchtxt" placeholder="Where would you like to go?">
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-align="center start" flex style="height:300px">
        <div flex="33" class="linkimg_container" style="background-color:aqua">
                
        </div>
        <div flex class="linkimg_container" style="background-color:aqua">
                
        </div>
        <div flex="33" class="linkimg_container" style="background-color:aqua">

        </div>
    </div>

    <md-content layout-padding>
        Copyright © 2017 Connection++
        </md-content>
</div>